.rowgap {
    row-gap: 30px;
}

.toast-success {
    background-color: #01f81e !important;
}

.mat-mdc-form-field-required-marker {
    color: #f44336;
}

.mat-mdc-form-field-error{
    font-size: 14px;
}
